.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: #4d12ff;
}

.dialog {
    display: flex;
}

.messages {
    padding: 10px;
}

.message {

}

.avatar img {
    width: 50px;
    border-radius: 20px;
}